In [19]:
import numpy as np
import pandas as pd

In [20]:
rng = pd.date_range('3/6/2012 00:00', '3/12/2012 00:00', freq = '8h')
rng

DatetimeIndex(['2012-03-06 00:00:00', '2012-03-06 08:00:00',
               '2012-03-06 16:00:00', '2012-03-07 00:00:00',
               '2012-03-07 08:00:00', '2012-03-07 16:00:00',
               '2012-03-08 00:00:00', '2012-03-08 08:00:00',
               '2012-03-08 16:00:00', '2012-03-09 00:00:00',
               '2012-03-09 08:00:00', '2012-03-09 16:00:00',
               '2012-03-10 00:00:00', '2012-03-10 08:00:00',
               '2012-03-10 16:00:00', '2012-03-11 00:00:00',
               '2012-03-11 08:00:00', '2012-03-11 16:00:00',
               '2012-03-12 00:00:00'],
              dtype='datetime64[ns]', freq='8H')

In [21]:
rng_tz = pd.date_range('3/6/2012 00:00', periods = 15, freq = 'D', tz = 'Europe/London')
rng_tz.tz

In [22]:
from pytz import common_timezones, all_timezones
print(len(common_timezones))
print(len(all_timezones))
print(set(all_timezones) - set(common_timezones))

439
593
{'Pacific/Truk', 'Asia/Saigon', 'America/Montreal', 'Libya', 'Poland', 'Portugal', 'Australia/Tasmania', 'Greenwich', 'America/Argentina/ComodRivadavia', 'Etc/GMT', 'EET', 'America/Jujuy', 'Hongkong', 'Etc/GMT-2', 'PST8PDT', 'UCT', 'HST', 'Australia/ACT', 'W-SU', 'US/East-Indiana', 'Etc/GMT+5', 'Australia/North', 'Etc/GMT-12', 'Etc/GMT-4', 'Asia/Ulan_Bator', 'Iceland', 'Australia/Canberra', 'Asia/Chungking', 'Asia/Macao', 'Europe/Belfast', 'Israel', 'America/Knox_IN', 'Asia/Katmandu', 'Australia/Yancowinna', 'Antarctica/South_Pole', 'Etc/GMT+6', 'Mexico/General', 'America/Ensenada', 'Asia/Chongqing', 'Etc/GMT-1', 'Asia/Thimbu', 'Zulu', 'Navajo', 'Etc/UTC', 'Etc/GMT-5', 'Etc/GMT-6', 'Etc/GMT-8', 'Pacific/Samoa', 'US/Indiana-Starke', 'Etc/GMT+4', 'Brazil/West', 'America/Atka', 'Africa/Asmera', 'WET', 'CST6CDT', 'America/Catamarca', 'Europe/Tiraspol', 'Etc/GMT+8', 'Egypt', 'MST', 'Etc/Zulu', 'Australia/South', 'Turkey', 'Etc/GMT+9', 'Etc/GMT-7', 'ROC', 'Pacific/Ponape', 'Etc/GMT-11', 'Mexico/BajaSur', 'NZ-CHAT', 'Australia/NSW', 'Asia/Tel_Aviv', 'Etc/GMT0', 'Japan', 'Australia/Queensland', 'Australia/West', 'Asia/Kashgar', 'US/Samoa', 'Etc/GMT+10', 'America/Fort_Wayne', 'PRC', 'Iran', 'EST5EDT', 'Australia/Victoria', 'Brazil/Acre', 'Etc/GMT+11', 'Atlantic/Faeroe', 'GB', 'Chile/Continental', 'Brazil/DeNoronha', 'America/Shiprock', 'America/Indianapolis', 'Etc/GMT-3', 'Cuba', 'Asia/Istanbul', 'Etc/GMT+1', 'Kwajalein', 'Eire', 'Pacific/Yap', 'US/Aleutian', 'Asia/Ashkhabad', 'Australia/LHI', 'America/Mendoza', 'Etc/Universal', 'Asia/Harbin', 'Asia/Ujung_Pandang', 'Etc/GMT+12', 'ROK', 'Brazil/East', 'Etc/GMT-10', 'Pacific/Johnston', 'Universal', 'Etc/UCT', 'CET', 'NZ', 'GMT+0', 'Etc/GMT-0', 'Asia/Calcutta', 'America/Louisville', 'Europe/Nicosia', 'Etc/GMT-13', 'MET', 'Jamaica', 'GMT0', 'MST7MDT', 'Asia/Dacca', 'Canada/Yukon', 'America/Porto_Acre', 'Africa/Timbuktu', 'America/Buenos_Aires', 'Canada/Saskatchewan', 'GMT-0', 'Singapore', 'Etc/GMT+3', 'Etc/GMT+0', 'America/Cordoba', 'Chile/EasterIsland', 'Canada/East-Saskatchewan', 'Etc/GMT+2', 'US/Michigan', 'America/Virgin', 'US/Pacific-New', 'Etc/GMT-14', 'Etc/Greenwich', 'Etc/GMT+7', 'EST', 'America/Coral_Harbour', 'GB-Eire', 'Etc/GMT-9', 'Asia/Rangoon', 'Atlantic/Jan_Mayen', 'America/Rosario', 'Mexico/BajaNorte', 'America/Santa_Isabel'}

In [23]:
# You can also localize a naive timestamp
t_naive = pd.Timestamp('2016-07-10 08:50')
t_naive

Timestamp('2016-07-10 08:50:00')

In [24]:
t = t_naive.tz_localize(tz = 'US/Central')
t

Timestamp('2016-07-10 08:50:00-0500', tz='US/Central')

In [25]:
t.tz_convert('Asia/Tokyo')

Timestamp('2016-07-10 22:50:00+0900', tz='Asia/Tokyo')

In [26]:
# how to handle daylight savings?
rng = pd.date_range('2016-03-10', periods=10, tz='US/Central')
ts = pd.Series(range(10), index=rng)
ts

2016-03-10 00:00:00-06:00    0
2016-03-11 00:00:00-06:00    1
2016-03-12 00:00:00-06:00    2
2016-03-13 00:00:00-06:00    3
2016-03-14 00:00:00-05:00    4
2016-03-15 00:00:00-05:00    5
2016-03-16 00:00:00-05:00    6
2016-03-17 00:00:00-05:00    7
2016-03-18 00:00:00-05:00    8
2016-03-19 00:00:00-05:00    9
Freq: D, dtype: int32

In [27]:
rng = pd.date_range('2016-03-10', periods=10, tz='utc')
ts = pd.Series(range(10), index=rng)
ts

2016-03-10 00:00:00+00:00    0
2016-03-11 00:00:00+00:00    1
2016-03-12 00:00:00+00:00    2
2016-03-13 00:00:00+00:00    3
2016-03-14 00:00:00+00:00    4
2016-03-15 00:00:00+00:00    5
2016-03-16 00:00:00+00:00    6
2016-03-17 00:00:00+00:00    7
2016-03-18 00:00:00+00:00    8
2016-03-19 00:00:00+00:00    9
Freq: D, dtype: int32

In [28]:
ts.tz_convert('US/Central')

2016-03-09 18:00:00-06:00    0
2016-03-10 18:00:00-06:00    1
2016-03-11 18:00:00-06:00    2
2016-03-12 18:00:00-06:00    3
2016-03-13 19:00:00-05:00    4
2016-03-14 19:00:00-05:00    5
2016-03-15 19:00:00-05:00    6
2016-03-16 19:00:00-05:00    7
2016-03-17 19:00:00-05:00    8
2016-03-18 19:00:00-05:00    9
Freq: D, dtype: int32

In [29]:
pd.date_range('03-12-2016 22:00', periods = 12, freq = 'H', tz = 'US/Eastern')

DatetimeIndex(['2016-03-12 22:00:00-05:00', '2016-03-12 23:00:00-05:00',
               '2016-03-13 00:00:00-05:00', '2016-03-13 01:00:00-05:00',
               '2016-03-13 03:00:00-04:00', '2016-03-13 04:00:00-04:00',
               '2016-03-13 05:00:00-04:00', '2016-03-13 06:00:00-04:00',
               '2016-03-13 07:00:00-04:00', '2016-03-13 08:00:00-04:00',
               '2016-03-13 09:00:00-04:00', '2016-03-13 10:00:00-04:00'],
              dtype='datetime64[ns, US/Eastern]', freq='H')

In [30]:
# May autocorrect an error rather than giving you a non-existent time error
pd.Timestamp('2016-03-13 02:00', tz = 'US/Eastern')

NonExistentTimeError: 2016-03-13 02:00:00